{% extends 'test.html.twig' %}

                                    {% block titrepage %}
                                        <h1>Forum</h1>
                                    {% endblock %}


 {% block content %}


     <div class="count">
         <h4> Nombre total des publications : {{ m.getTotalItemCount }}  </h4>
         <br>
     </div>


     {%  for pb in m %}

<div class="container">

                <div class="col-xs-12 col-sm-8 col-md-9">
                    <article class="blog-post-wrapper sticky">
                        <header class="entry-header">
                            <div class="entry-meta">
                                <ul class="list-inline">
                                    <li><span class="the-time"><a href="#">{{ pb.postedIn|date}}</a></span></li>
                                    <li><span class="the-author"> By: <a class="url" href="#">Admin</a></span></li>
                                    <li><span class="the-category"> In: <a href="#">{{ pb.theme }}</a></span></li>
                                </ul>
                            </div><!-- /.entry-meta -->

                            <h2 class="entry-title"><a>{{ pb.titre }}</a></h2>
                        </header><!-- /.entry-header -->
                        <div class="entry-content">
                            <p>{{ pb.contenu }}</p>
                        </div><!-- /.entry-content -->
                        <div class="post-thumbnail">
                            <img src="img/blog/blog-1.jpg" class="img-responsive " alt="">
                        </div><!-- /.post-thumbnail -->
                        <footer class="entry-footer">
                            <a class="btn btn-primary" href={{ path('publication_show',
     {
      'id':pb.idPb
     }) }} > Read More</a>
                        </footer><!-- /.entry-footer -->
                    </article>
                </div>
</div>



    {% endfor %}

     <div class="pagination-wrap text-center">
         {{ knp_pagination_render(m) }}
     </div>
 {% endblock %}

{% block search %}

    {{ form_start(f) }}
<div class="search-form">{{ form_row(f.titre,{'attr':{'class':'form-control'}}) }}
    <button type="submit" class="search-submit" value=""><i class="fa fa-search"></i>{{ form_row(f.recherche,{'attr':{'class':'btn btn-primary'}}) }}</button>



    {{ form_end(f) }}

{% endblock %}

